/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Doodle Stage */
img {
  position: relative;
  width: 50px;
  left: 10px;
  top: 262px;
}

#stage {
  background: rgb(7, 12, 44);
  height: 300px;
  width: 600px;
  top: 1px;
}

svg {
  /* svg */

  position: relative;
  width: 419px;
  height: 130px;

  /* X-Wing_Top 1 */

  background: url(X-Wing_Top.png);

  /* Googl */

  font-family: Ranger;
  font-style: normal;
  font-weight: normal;
  font-size: 102px;
  line-height: 102px;
  /* identical to box height */

  color: #faff00;
  top: 80px;
  left: 60px;
}

img:hover {
  transform: translate(500px);
  transition-duration: 5s;
}
svg:hover path {
  transform: translate(500px);
  transition: transform 5s;
}
