/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Doodle Stage */
img {
  position: relative;
  width: 50px;
  left: 20px;
}
#stage {
  background: rgb(91, 97, 134);
  height: 300px;
  width: 600px;
}

svg {
  /* Googl */

  position: absolute;
  width: 927px;
  height: 273px;

  font-family: Ranger;
  font-style: normal;
  font-weight: normal;
  font-size: 102px;
  line-height: 102px;

  color: #d9b600;

  transform: rotate(-180deg);

  /* X-Wing_Top 1 */

  position: relative;
  width: 300px;
  height: 75px;
  left: 150px;

  background: url(X-Wing_Top.png);
  transform: rotate(180deg);
  transform-origin: 42% 70%;
}
svg:hover {
  transform: rotate(360deg);
  transition: transform 5s;
}
img:hover {
  transform: translate(150px);

  transition: transform 5s;
}
